<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome Back</h2>
      <h4 class="animation a2">Log in to your account using email and password</h4>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form">
        <input type="text" class="form-field animation a3" placeholder="Username" [(ngModel)]="username" name="username" required>
        <div class="password-container">
          <input [type]="show ? 'text' : 'password'" class="form-field animation a4" placeholder="Password" [(ngModel)]="password" autocomplete="current-password" name="password" required />
          <i class="fa fa-eye" (click)="toggleShow()"></i>
          <div *ngIf="error" class="text-danger">{{ error }}</div>
        </div>
        <p class="animation a5"><a href="#">Forgot Password</a></p>
        <button type="submit" class="animation a6" (click)="onSubmit()">LOGIN</button>
        <button type="submit" class="animation a6" routerLink="/register">SIGN UP</button>
        <button type="submit" class="animation a6" id="google-button" (click)="loginWithGoogle()">SIGN IN WITH GOOGLE</button>
        
        
      </div>
    </form>
  </div>
  <div class="right"></div>
</div>
