<div class="parallax-container" >
  <video class="parallax-video" autoplay [muted]="true" loop>
    <source src="assets/cristocentric.mp4" type="video/mp4">
  </video>
  <div class="parallax-content">
    <h1>CRISTOCENTRIC</h1>
    <h2>Christ in us, the hope of glory.</h2>
    <div class="intro-buttons">
      <button class=intro-button onclick="window.open('https://open.spotify.com/artist/4rZngFye2OGjJqML70QYAO','_blank')">LISTEN NOW</button>
      <button class=intro-button routerLink="/login" routerLinkActive="active">JOIN US</button>
    </div>
  </div>
</div>

